            <div class="col">
                <h1 id="htitle">Actualizacion de Productos</h1>
            </div>
        <br><br><br><br>
            
    <div class="col" id="colum">
        <h3 id="hObjetivo">Aqui debe de ir la lista de productos </h3>
        <button class="btn btn-primary">Actualizar</button>
        <button class="btn btn-primary">Eliminar </button>
        <button class="btn btn-primary"><a href="/" style="color: aliceblue;">Inicio</a></button>
    </div>
    <br><br><br> 